<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Josefin+Sans&display=swap" rel="stylesheet">
</head>


<body>
    <style>
        body {
            background-image: url('background2.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;

        }
    </style>

    <div
        style="text-align: center; margin-top: 25%; font-size:2em; color:white;   font-family: 'Fredoka One', cursive;">
        Welcome to
        File MSG!
    </div>
    <p style="text-align:center; font-size: 1em; color: white;  font-family:'Indie Flower', cursive;">
        Searchable text
        messaging application easily to archiving, emailing chats and search using filters.</p>

    <button class="signup" style="margin: 0 auto;
        border: none;
        cursor: pointer;
        padding: 0.5em;
        border-radius: 8px;
        display: block;
        background-color: rgb(15, 140, 241);
        color: beige;
        position: middle;">Sign up</button>


    <script>
        function signUp() {
            document.getElementById("#sign-up"), console.log("signUp click");
        }
    </script>


</body>

</html>