<div style="margin-right: 5%";> 
    <p style="text-align:right; color:rgb(255, 255, 255)"><a style="color:rgb(255, 255, 255)"href="/login">Login here</a></p>
</div>

<div style="text-align: center; margin-top: 15%; font-size:4em; color:rgb(255, 255, 255);   font-family: 'Fredoka One', cursive;">
   Welcome to BENY!
</div>
<p style="text-align:center; margin-top: 3%; font-size: 1.5em; color: white;  font-family:'Indie Flower', cursive;">
       BENY is a searchable text messaging application with feature-rich options like easy searching capability, local archiving, and more.</p>

<button type="submit" id="sign-up" style="margin: 0 auto;
        margin-top: 10%;
        border: none;
        cursor: pointer;
        padding: 0.5em;
        border-radius: 8px;
        display: block;
        background-color: rgb(15, 140, 241);
        color: beige;
        position: middle;" 
        onclick="signUp()">
        Click here to create an account!
    </button>


<script>
    function signUp() {
        {{!-- document.getElementById("#sign-up");
        console.log("sign-Up click"); --}}
        window.location.href = "http://localhost:3000/signup";
        }
    </script>
</div>