<style>
    body {
        background-image: url('background.jpg');
        background-color:rgb(76, 132, 165);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        background-position: top, center;

    }
</style>
<div style="margin-right: 5%"> 
    <p style="text-align:right; color:rgb(0, 0, 0)"><a style="color:rgb(0, 0, 0)" href="/login">LOGIN</a></p>
</div>

<div style="text-align: center; margin-top: 15%; font-size:4em; color:rgb(0, 0, 0);   font-family: 'Fredoka One', cursive;">
   Welcome to BENY!
</div>
<div style="padding-left: 10%; padding-right: 10%">
<p style="text-align: center; margin-top: 3%; font-size: 1.5em; color: black;  font-family:'Indie Flower', cursive;">
       BENY is a searchable text messaging application with feature-rich options like easy searching capability, local archiving, and more.</p>
</div>
<button type="submit" id="signup" style="margin: 0 auto;
        margin-top: 10%;
        border: none;
        cursor: pointer;
        padding: 0.5em;
        border-radius: 8px;
        display: block;
        background-color: rgb(15, 140, 241);
        color: beige;
        position: middle;" 
        onclick="signUp()">
        Click here to create an account today!
    </button>


<script>
    function signUp() {
        {{!-- document.getElementById("#sign-up");
        console.log("sign-Up click"); --}}
        window.location.href = "/signup";
        }
    </script>
</div>