<div>
    <div
        style="text-align: center; margin-top: 10%; font-size:2em; color:white;   font-family: 'Fredoka One', cursive;">
        Welcome to
        BENY!
    </div>
    <br>
    <p style="text-align:center; font-size: 1em; color: white;  font-family:'Indie Flower', cursive;">
        Searchable text
        messaging application easily to archiving, emailing chats and search using filters.</p>
    <br>
    <br>
    <button id="sign-up" style="margin: 0 auto;
        border: none;
        cursor: pointer;
        padding: 0.5em;
        border-radius: 8px;
        display: block;
        background-color: rgb(15, 140, 241);
        color: beige;
        position: middle;" onclick="signupclick()">
        Create Account
    </button>


    <script>
        function signupclick() {
            console.log("signUp click");
            window.location.href = "http://localhost:3000/signup";

        }
    </script>
</div>