<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second-page</title>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="./signup.js">
</head>
<body>
    <style>
        body {
            background-image: url('background2.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
            }
    </style>
    <div
        style="text-align: center; margin-top: 15%; font-size:4em; color:rgb(14, 0, 0);   font-family: 'Fredoka One', cursive;">
        Log in to BENY!
    </div>
    <!-- <div style="text-align: center; margin: 1em;">
            <input size="30em " type="text" placeholder="Username">
        </div> -->

    <div style="text-align: center; margin: 1em;">
        <input id="#email-input" size="30em " type="text" placeholder="Email">
    </div>

    <div style="text-align: center; margin: 1em;">
        <input id="input#password-input" size="30em " type="text" placeholder="Password">
    </div>

    </div>
    <form action="">
        <button class="signup" style="margin: 0 auto;
                    border: none;
                    cursor: pointer;
                    padding: 0.5em;
                    border-radius: 8px;
                    display: block;
                    background-color: rgb(15, 140, 241);
                    color: beige;
                    position: middle;" onclick="signupclick()">login</button>
    </form>
    <script>
        function signupclick() {
            document.getElementById(".signup"), console.log("login click");
        }
    </script>


</body>

</html>