<div>

    <div
        style="text-align: center; margin-top: 10%; font-size:1.5em; color:white; font-family: 'Saira Semi Condensed', sans-serif;  ">
        Please Provide Some Information About Yourself
    </div>
    <div style="text-align: center; margin: 1.5em;  font-family:'Indie Flower', cursive; color:aliceblue">
        {{!-- First Name: --}}
        <input style="border-radius:5em; text-align: center;" size="30em" type="text" placeholder="FirstName">
    </div>
    <div style="text-align: center; margin: 1.5em;  font-family:'Indie Flower', cursive; color:aliceblue; ">
        {{!-- Last Name: --}}
        <input style="border-radius:5em; text-align: center;" size="30em" type="text" placeholder="LastName">
    </div>
    <div style="text-align: center; margin: 1.5em; font-family:'Indie Flower', cursive; color:aliceblue">
        {{!-- Email: --}}
        <input style="border-radius:5em; text-align: center;" size="30em" type="text" placeholder="Email">
    </div>
    <div style="text-align: center; margin: 1.5em; font-family:'Indie Flower', cursive; color:aliceblue">
        {{!-- Phone: --}}
        <input style="border-radius:5em; text-align: center;" size="30em" type="text" placeholder="Phone">
    </div>
    <div style="text-align: center; margin-top: 6em; font-family:'Indie Flower', cursive; color:aliceblue">
        {{!-- Set Password: --}}
        <input style="border-radius:5em; text-align: center;" size="30em" placeholder="Set Password">
    </div>
    <div style="text-align: center; margin: 1.5em; font-family:'Indie Flower', cursive; color:aliceblue">
        {{!-- Confirm Password: --}}
        <input style="border-radius:5em; text-align: center;" size="30em" placeholder="Confirm Password">
    {{!-- <div style="text-align: center; margin: 1em;">
        <input id="userName-input" size="30em " type="text" placeholder="Username">
    </div> --}}

    {{!-- <div style="text-align: center; margin: 1em;">
        <input id="email-input" size="30em" type="text" placeholder="Email">
    </div>

    <div style="text-align: center; margin: 1em;">
        <input id="password-input" size="30em " type="text" placeholder="Password">
    </div> --}}
</div>

<button class="sign-up" style="margin: 0 auto;
                border: none;
                cursor: pointer;
                padding: 0.5em;
                border-radius: 8px;
                display: block;
                background-color: rgb(15, 140, 241);
                color: beige;
                position: middle;">Sign up</button>

{{!-- <script>
    function Login() {
        document.getElementById("#login"), console.log("login click");
    }
</script> --}}