<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  
</head>

<body>
  {{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav> --}}
  <div class="container">
       <p style="text-align:right; color:rgb(255, 255, 255)"><a style="color:rgb(255, 255, 255)"href="/login">Login here</a></p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 style="color:rgb(255, 255, 255)";>Sign Up Form</h2>
        <p style="color:rgb(255, 255, 255)";>Please provide us with some information about yourself...</p>
        <form class="signup">
           <div class="form-group">
            <label for="exampleInputFirstName" style="color:rgb(255, 255, 255)";>First Name</label>
            <input type="text" class="form-control" id="firstName-input" placeholder="First Name"
              style="border-radius:5em; text-align: center;" size="20em">
          </div>
           <div class="form-group">
            <label for="exampleInputLastName" style="color:rgb(255, 255, 255)";>Last Name</label>
            <input type="text" class="form-control" id="lastName-input" placeholder="Last Name"
              style="border-radius:5em; text-align: center;" size="20em">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="color:rgb(255, 255, 255)";>Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email"
              style="border-radius:5em; text-align: center;" size="20em">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1" style="color:rgb(255, 255, 255)";>Phone Number</label>
            <input type="phone" class="form-control" id="phone-input" placeholder="Phone"
              style="border-radius:5em; text-align: center;" size="20em">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" style="color:rgb(255, 255, 255)";>Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password"
              style="border-radius:5em; text-align: center;" size="20em">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2" style="color:rgb(255, 255, 255)"></label>Confirm Password</label>
            <input type="password" class="form-control" id="password-input2" placeholder="Confirm Password"
              style="border-radius:5em; text-align: center;" size="20em">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default" style="border-radius:5em; text-align: center; margin: 0 auto; margin-top: 5%;" size="20em"; >Sign Up</button>
        </form>
        <br />
        <p style="color:rgb(218, 214, 214)">Or log in <a style="color:rgb(255, 255, 255)" href="/login">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>

 