<div>

    <div style="text-align: center; margin-top: 25%; font-size:3em; color:white; font-family: 'Acme', sans-serif;  ">
        Log in to File MSG
    </div>
    {{!-- <div style="text-align: center; margin: 1em;">
        <input id="userName-input" size="30em " type="text" placeholder="Username">
    </div> --}}

    <div style="text-align: center; margin: 1em;">
        <input id="email-input" size="30em" type="text" placeholder="Email">
    </div>

    <div style="text-align: center; margin: 1em;">
        <input id="password-input" size="30em " type="text" placeholder="Password">
    </div>

</div>

<button class="sign-up" style="margin: 0 auto;
                border: none;
                cursor: pointer;
                padding: 0.5em;
                border-radius: 8px;
                display: block;
                background-color: rgb(15, 140, 241);
                color: beige;
                position: middle;">Sign up</button>

{{!-- <script>
    function Login() {
        document.getElementById("#login"), console.log("login click");
    }
</script> --}}