/* body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
} */
/* first page */
/* wilcomepage button */
#signup {
  margin: 0 auto;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 8px;
  display: block;
  background-color: rgb(15, 140, 241);
  color: beige;
  position: middle;
}

#welcomepagetitle {
  text-align: center;
  margin-top: 10%;
  font-size: 2em;
  color: white;
  font-family: "Fredoka One", cursive;
}

#welcomepagetext {
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: "Indie Flower", cursive;
}

/* second page */
#signUpPageTitle {
  text-align: center;
  margin-top: 10%;
  font-size: 1.5em;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
}
.signUpPageInputArea {
  text-align: center;
  margin: 1.5em;
  font-family: "Indie Flower", cursive;
  color: aliceblue;
}

#setPasswordInputArea {
  text-align: center;
  margin-top: 6em;
  font-family: "Indie Flower", cursive;
  color: aliceblue;
}
.signupPageInput {
  border-radius: 5em;
  text-align: center;
}
