<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Josefin+Sans&display=swap" rel="stylesheet">
</head>


<body>
    <style>
        body {
            background-image: url('background2.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;

        }
    </style>
    <div class="container">
        <div class="row ">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div
                    style="text-align: center; margin-top: 40%; font-size:3rem; color:white;   font-family: 'Fredoka One', cursive;">
                    Welcome to
                    Beny!
                </div>
                <p style="text-align:center; font-size: 1rem; color: white;  font-family:'Indie Flower', cursive;">
                    Searchable text
                    messaging application easily to archiving, emailing chats and search using filters.</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <!-- Sign Up Button===================================================== -->
            <button type="button" class="col-sm-2 btn btn-info btn-lg " id="sign-up"
                style=" color:rgb(250, 250, 248); font-family: 'Josefin Sans', sans-serif">
                Sign Up
            </button>
            <div class="col-sm-5"></div>
        </div>
    </div>

</body>

</html>