<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<body>
    <!-- <div class="wraper" ; style="background-image:url("background.jpg");> -->
    <style>
        body {
            background-image: url('background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;

        }
    </style>
    <!-- <div
        style="background-color: rgb(124, 243, 252); width: 35%; margin-left: 25rem ; margin-top:13rem; height: 25rem;"> -->
    <!-- <div class="contain"  -->
    <!-- style="background-color: rgb(124, 243, 252);width: 38%; height: 50rem; margin-left: 18rem; margin-top:15rem; "> -->
    <!-- <div class="row">Welcom to Beny!</div> -->
    <div class="row"
        style="font-size:5rem; color:#4c89fa; text-align: center; margin:center center; padding-top:50rem ;" Welcome to
        Beny!"</div>

        <p></p>
        <!-- <button type="button" class="btn btn-info" style="margin-left: 35rem; margin-top: 8rem;">Sign Up</button> -->
        <button type="button" class="btn btn-primary btn-lg" style="margin-left: 25rem; ">Sign
            Up</button>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
</body>

</htm