<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>
    body {
        background-image: url('background.jpg');
        background-size: cover;
        
    }
</style>

<body>
    <!-- <div
        style="background-color: rgb(124, 243, 252); width: 35%; margin-left: 25rem ; margin-top:13rem; height: 25rem;"> -->
    -
    <h1 style="color:#eefa4c; text-align: center;">Welcom to Beny!</h1>
    <!-- <button type="button" class="btn btn-info" style="margin-left: 35rem; margin-top: 8rem;">Sign Up</button> -->
    <button type="button" class="btn btn-primary btn-lg" style="margin-left: 35rem; margin-top: 8rem;">Sign
        Up</button>
    <!-- </div> -->
</body>

</htm